.custom-datepicker {
  border-radius: 12px !important; /* Bo tròn */

  border: none;
  padding: 10px;
}

.custom-datepicker .ant-picker-panel {
  border-radius: 12px;
}

.custom-datepicker .ant-picker-header { 
  font-weight: bold;
  border: none;
}

.custom-datepicker .ant-picker-content thead tbody{
  border: none !important;
}
.custom-datepicker .ant-picker-cell {
  border: none;
  font-size: 16px;
}

.custom-datepicker .ant-picker-footer {
  padding-top: 10px !important;
}

.custom-datepicker .ant-picker-now-btn {
  display: none !important;
}

.custom-datepicker .ant-picker-header .ant-picker-header-super-prev-btn,
.custom-datepicker .ant-picker-header .ant-picker-header-super-next-btn {
  display: none !important;
}

.custom-datepicker .ant-picker-prev-icon {
  color: orange;
}
.custom-datepicker .ant-picker-next-icon {
  color: orange;
}

.custom-datepicker .ant-picker-content thead tr th {
  color: #0b80ec;
  font-weight: 700;
  font-size: 16px;
}



.custom-datepicker .ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: #ff7a00 !important; 
  color: white !important;
  border-radius:6px; 
}

.custom-datepicker .ant-picker-cell-inner:hover {
  background-color: #fc7e00 !important; 
  color: white !important;
}