.icon.active {
    position: relative; /* Đảm bảo lớp phủ xuất hiện trên icon */
}

.icon.active::after {
    content: ""; /* Tạo lớp phủ */
    position: absolute;
    top: 50%; /* Căn giữa */
    left: 50%; /* Căn giữa */
    width: 100px; /* Kích thước 50px */
    height: 100px; /* Kích thước 50px */
    background-color: rgba(255, 255, 255, 0.5); /* Lớp phủ màu trắng */
    transform: translate(-50%, -50%); /* Đảm bảo căn giữa hoàn hảo */
    border-radius: 0; /* Đảm bảo không có bo góc */
}
