::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(245, 243, 243) !important;
}

::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
