:root {
  --color-primary: theme(colors.background-gray);
  --color-primary-hover: theme(colors.black-text);
  --color-secondary: theme(colors.background-input);
  --text-gray: theme(colors.grey-text);
  --text-while: theme(colors.while-text);
  --text-black: theme(colors.black-text);
}

.switch-tab {
  display: flex;
  background-color: var(--color-secondary);
  border-radius: 100px;
  padding: 8px;
  gap: 4px;
  max-width: 25%;
  margin: 0.3rem;
}

.tab-button {
  flex: 1;
  border: none;
  padding: 8px 16px;
  background-color: transparent;
  color: var(--grey-text);
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-button.active {
  background-color: var(--color-primary-hover);
  color: var(--while-text);
}

.tab-button:hover:not(.active) {
  color: var(--text-black);
}