td {
  vertical-align: middle;
}

.trashIcon {
  width: 20px;
}

.unionIcon {
  width: 20px;
}

.checkActive {
  width: 22px;
}

.icon-container {
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--background-while);
  border: 1px solid var(--background-white);
  box-shadow: 0px 4px 6px var(--background-black);
  border-radius: 6px;
  padding: 0 15px;
  z-index: 10;
  min-width: 120px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-menu li {
  list-style: none;
  padding: 4px 0px 4px 0px;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid var(--orange-text); /* Chỉ thêm viền dưới cho các dòng ở giữa */
}


.dropdown-menu button {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px
}

.icon-container button {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  display: inline-block;
}

.icon-container img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin: 0 4px;
}

.icon-container img {
  object-fit: contain;
}

.trashIcon {
  cursor: pointer;
}

.status-container {
  border: 2px solid var(--background-gray);
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
  border: 2px solid transparent;
}

.status-active {
  background-color: var(--background-while);
  border-color: var(--green-text);
  color: var(--green-text);
}

.status-graduated {
  background-color: var(--background-while);
  border-color: var(--blue-text);
  color: var(--blue-text);
}

.status-transferred-class {
  background-color: var(--background-while);
  border-color: var(--orange-text);
  color: var(--orange-text);
}

.status-transferred-school {
  background-color: var(--background-while);
  border-color: var(--black-text);
}

.status-dropped {
  background-color: var(--background-while);
  border-color: var(--red-status);
}
