.dropdown .dropdown.medium{
    width: 100%;
}
.calendar .calendar-container .calendar-input-container{
    width: 100%;
}
.calendar .calendar-container .calendar-input-container input{
    width: 100%;
}